h1 {
    color: #439af7;
    font-size: 2em;
}

#introduction {
    font-size: 16px; 
}

.item {
    font-weight: bold; 
}

#introduction {
    padding: 1em; 
    margin: 1em auto; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

ul.hobbies li.item {
    margin: 0.5em auto; 
    padding: 0.5em; 
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.content-box p {
    text-align: justify; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
}
